.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  li{
    justify-content: center;
    list-style: none;
    flex-grow: 1;
    text-align:center;
    .indexLink{
      text-decoration: none;
      color:black;
    }
  }
}
.news1{
  display:flex;
  width:800px;
  margin: 50px auto;
  img{
    width:250px;
    height:150px;
  }
  span{
    margin-left: 30px;
    font-size:20px;
    display:flex;
    flex-direction:column;
    p{
      font-size:14px;
    }
  }
}
.coach{
  width:700px;
  margin:30px auto;
  display:flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  img{
    width:500px;
    height:350px;
    margin:50px auto;
  }
}

table, th, td {
  border: 1px solid black;
  text-align:center;
}
td{
  width:280px;
}
.par1{
  margin-top: 100px;
  text-align: center;
}
.table1, .table2{
  display:flex;
  justify-content: center;
}
img{
  width:280px;
  height:150px;
}
section{
  display:flex;
  flex-wrap: wrap;
  .playersTable{
    margin:20px auto;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

